{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Kutubxona {% endblock title %}

{% block content %}


  <!-- Content body -->
  <div class="wrapper">
    <div class="container"><div class="row">

        <form action="">
            <div class="searchBar">

                <div class="col-lg-12 searchBarItem">
                    <select class="form-control form-control-lg">
                        <option value="" selected disabled>Viloyat</option>
                        <option>Samarkand</option>
                        <option>Toshkent</option>
                        <option>Large select</option>
                        <option>Large select</option>
                    </select>
                </div>

                
            </div>
        </form>


        <div class="col-sm-6 col-md-4">     <div class="thumbnail">
            <img src="{% static 'img/indexBackground2.jpg' %}" alt="Title">
            <div class="caption">
                <h4>Inha University in Tashkent</h4>
                <p> Toshkent shahar, Adress 5V bla bla </p>
                <p> +998902721333</p>
                <a href="library_book_list.html" class="btn btn-primary" role="button">O'tish</a>
            </div>
        </div></div>


        <div class="col-sm-6 col-md-4">     <div class="thumbnail">
            <img src="{% static 'img/indexBackground2.jpg' %}" alt="Title">
            <div class="caption">
                <h4>Inha University in Tashkent</h4>
                <p> Toshkent shahar, Adress 5V bla bla </p>
                <p> +998902721333</p>
                <a href="library_book_list.html" class="btn btn-primary" role="button">O'tish</a>
            </div>
        </div></div>


        <div class="col-sm-6 col-md-4">     <div class="thumbnail">
            <img src="{% static 'img/indexBackground2.jpg' %}" alt="Title">
            <div class="caption">
                <h4>Inha University in Tashkent</h4>
                <p> Toshkent shahar, Adress 5V bla bla </p>
                <p> +998902721333</p>
                <a href="library_book_list.html" class="btn btn-primary" role="button">O'tish</a>
            </div>
        </div></div>


    </div></div>
</div>

<br><br>

{% endblock content %}