{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Kutubxona {% endblock title %}

{% block content %}

  <!-- Content body -->
  <div class="wrapper">
    <div class="container">

      <h3 class="display-1"> {{ library.name }}</h3>
      <hr>
      
      <div class="row">

        <form action="{% url 'library_books_by_category' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="searchBar">
                <div class="col-lg-3 searchBarItem">
                    <select name='category' class="form-control form-control-lg">
                        <option value="" selected disabled>Toifa</option>
                        {% for category in categories %}
                          <option value="{{category.id}}"> {{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name='library' value="{{library.id}}">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary longButton">Kitoblarni filtrlash</button>
                </div>
            </div>
        </form>

        <form action="{% url 'book_search_library' %}" method="post">
            {% csrf_token %}
            <div class="searchBar">
                <div class="col-lg-3 searchBarItem">
                    <input name=book class="form-control form-control-lg" type="text" placeholder="Kitob nomi">
                </div>
                <input type="hidden" name='library' value="{{library.id}}">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary longButton">Izlash</button>
                </div>
            </div>
        </form>

        <div class="container">    
            <h3 class="display-1"> {{library.name}} | {{ category_name }} toifasidagi kitoblar ro'yxati</h3>
            <hr>
        </div>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Kitob nomi</th>
                <th scope="col">Toifa</th>
                <th scope="col">Muallif</th>
              </tr>
            </thead>
            <tbody>

              {% for b in library_books_by_category %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ b.name }}</td>
                  <td>{{ b.category }}</td>
                  <td>{{ b.author }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

    </div></div>
</div>

{% endblock content %}