{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Kutubxona {% endblock title %}

{% block content %}
<!-- Content body -->
<div class="wrapper">

    <div class="container"><div class="row">

        <form action="{% url 'library_region' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="searchBar">
                <div class="col-lg-12 searchBarItem">
                    {{form.as_p}}
                    <button type="submit" class="btn-lg btn-secondary longButton">Tanlash</button>
                </div>
            </div>
        </form>

        <!-- <br>
        <h2> {{region_name}} </h2>
        <br> -->

        {# if libraries list is  empty #}


        {% if region_name and libraries|length > 0  %}

            <div class="container">    
                <h3 class="display-1"> {{ region_name }}dagi kutubxonalar ro'yxati</h3>
                <hr>
            </div>

            {% for library in libraries %}

                    <div class="col-sm-6 col-md-4">     <div class="thumbnail">
                        <img src="{% if library.image %}
                                    {{  library.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}" alt="Thumbnail">
                        <div class="caption">
                            <h4>{{library.name|slice:":30"}}</h4>
                            <p> {{library.region|slice:":30"}} </p>
                            <p> {{library.phone|slice:":30"}}</p>
                            <a href="{% url 'library_detail' library.slug %}" class="btn btn-primary" role="button">O'tish</a>
                        </div>
                    </div></div>

            {% endfor %}
        
        {% elif region_name is empty %}
            <div class="container">    
                <h3 class="display-1"> {{ region_name }}Hamma kutubxonalar ro'yxati</h3>
                <hr>
            </div>

            {% for library in libraries %}

                    <div class="col-sm-6 col-md-4">     <div class="thumbnail">
                        <img src="{% if library.image %}
                                    {{  library.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}" alt="Thumbnail">
                        <div class="caption">
                            <h4>{{library.name|slice:":30"}}</h4>
                            <p> {{library.region|slice:":30"}} </p>
                            <p> {{library.phone|slice:":30"}}</p>
                            <a href="{% url 'library_detail' library.slug %}" class="btn btn-primary" role="button">O'tish</a>
                        </div>
                    </div></div>

            {% endfor %}

        {% else %}

        <div class="container">    
            <h3 class="display-1">Afsuski, {{region_name}}da kutubxonalar yo'q</h3>
        </div>


        {% endif %}


    </div></div>
</div>
<br><br>

{% endblock content %}