{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Bosh sahifa {% endblock title %}
{% block content %}

    <!-- Kitob almashish ro'yxati -->
    <div class="container">
        <h1 class="display-1">Kitoblar almashish ro'yxati</h1>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="jumbotron jumbotron-fluid aboutPost aboutPostLeft">
                        <div class="jumbotron">
                            <h6 class="text-uppercase">Sizda bor kitoblar</h6>

                            <!-- Add new book to database -->
                            <form action="{% url 'book_new' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Kitob nomi</label>
                                    {{form_have.name}}
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Tavsifi</label>
                                    {{form_have.description}}
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Muallif</label>
                                    {{form_have.author}}
                                </div>

                                <label for="inputState">Toifa:</label>
                                <select name="category" id="inputState" class="form-control">    
                                    {% for category in categories %}
                                        <option value="{{category.id}}"> {{category.name}}</option>
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="image" class="btn btn-primary">
                                    Kitob rasmini yuklash
                                </label>
                                <div class="form-group">
                                  <input name='image' type="file" class="form-control-file btn btn-primary" id="image">
                                </div>
                                <button type="submit" class="btn btn-primary" name="book_have">Saqlash</button>
                            </form>

                            <br>
                                
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Kitob</th>
                                        <th scope="col">Muallif</th>
                                        <th scope="col">Toifa</th>
                                    </tr>
                                </thead>
                                {% for book in book_have_list %}
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="{% url 'book_have_update' book.id %}">📘</a></th>
                                        <td>{{book.name}}</td>
                                        <td>{{book.author}}</td>
                                        <td>{{book.category.name}}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="jumbotron jumbotron-fluid aboutPost aboutPostRight">
                        <div class="jumbotron ">
                            <h6 class="text-uppercase">Sizga kerak bo'lgan kitoblar</h6>

                            <form action="{% url 'book_new' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Kitob nomi</label>
                                    {{form_need.name}}
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Muallif</label>
                                    {{form_need.author}}
                                </div>
                                <label for="inputState">Toifa:</label>
                                <select name="category" id="inputState" class="form-control">    
                                    {% for category in categories %}
                                        <option value="{{category.id}}"> {{category.name}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary" name="book_need">Saqlash</button>
                            </form>

                            <br>
                                
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Kitob</th>
                                        <th scope="col">Muallif</th>
                                        <th scope="col">Toifa</th>
                                    </tr>
                                </thead>
                                {% for book in book_need_list %}
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="{% url 'book_need_update' book.id %}">📕</a></th>
                                        <td>{{book.name}}</td>
                                        <td>{{book.author}}</td>
                                        <td>{{book.category.name}}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a href="{% url 'book_match_list' %}"> <button class="btn-lg btn-secondary longButton" >Kitob almashish bo'yicha hamkor izlash</button></a>
    </div>


    <!-- Search from library -->
    <div class="container">
        <h1 class="display-1">Yaqin kutubxonalardan kitobni qidiring</h1>
        <hr>
        <div class="row">
            <div class="jumbotron jumbotron-fluid aboutPost">
                <div class="jumbotron ">
                    <h6 class="text-uppercase">
                        Biz O'zbekistondagi barcha kutubxonalar kitoblarining yagona ma'lumotlar bazasini taqdim etamiz.
                    </h6>

                    <!-- Add new book to database -->
                    <form action="{% url 'book_search' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Kitob nomi</label>
                            <input name="book" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hands-on machine learning with Tensotflow">
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-left pull-right">Izlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>        

{% endblock content %}